<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="shortcut icon" href="{{ asset('assets/img/favicon.png') }}">

    <title>{% block title %}Tania{% endblock %}</title>

    {% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/style.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/material-design-icons/css/material-design-iconic-font.min.css') }}"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.1.0/dist/leaflet.css" integrity="sha512-wcw6ts8Anuw10Mzh9Ytw4pylW8+NAD4ch3lqm9lzAsTxg0GFeJgoAtxuCLREZSC5lUXdVyo/7yfsqFjQ4S+aKw==" crossorigin=""/>
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/non-responsive.css') }}"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.4/build/jquery.datetimepicker.min.css"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/tania.css') }}"/>
    {% endblock %}

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <script type="text/javascript" src="{{ asset('assets/js/jquery.min.js') }}"></script>
</head>
<body>
    {% block body %}{% endblock %}

    {% block javascripts %}
    <script type="text/javascript" src="{{ asset('assets/js/perfect-scrollbar/perfect-scrollbar.jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/main.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript">var global = { locale: '{{app.request.locale}}' }</script>

    {% if classActive == "fields_create" %}
    <script src="https://unpkg.com/leaflet@1.1.0/dist/leaflet.js" integrity="sha512-mNqn2Wg7tSToJhvHcqfzLMU6J4mkOImSPTxVZAdo+lcPlk+GhZmYgACEe0x35K7YzW1zJ7XyJV/TT1MrdXvMcA==" crossorigin=""></script>
    <script type="text/javascript" src="{{ asset('assets/js/field-map.js') }}"></script>
    {% elseif classActive == "fields_show" %}
    <script src="https://unpkg.com/leaflet@1.1.0/dist/leaflet.js" integrity="sha512-mNqn2Wg7tSToJhvHcqfzLMU6J4mkOImSPTxVZAdo+lcPlk+GhZmYgACEe0x35K7YzW1zJ7XyJV/TT1MrdXvMcA==" crossorigin=""></script>
    <script type="text/javascript" src="{{ asset('assets/js/field-map-show.js') }}"></script>
    {% elseif classActive == "areas_create" or classActive == "areas_edit" %}
    <script type="text/javascript" src="{{ asset('assets/js/area.js') }}"></script>
    {% endif %}

    <script>
    $(document).ready(function() {
        App.init();
    });
    </script>
    {% endblock %}
</body>
</html>
