{% extends 'base.html.twig' %}

{% block body %}
<div class="be-wrapper">
    {% include 'navbar.html.twig' %} 
    {% include 'sidebar.html.twig' %}

    <div class="be-content">
        <div class="page-head">
            <h2 class="page-head-title">Add Plant Seedlings</h2>
        </div>

        <div class="main-content container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            {{ form_start(form, {'attr': {'class': 'form-horizontal group-border-dashed'}}) }}
                                <div class="form-group">
                                    {{ form_label(form.area, 'Select area to plant', { 'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                                    <div class="col-sm-6">
                                        {{ form_widget(form.area, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    {{ form_label(form.seed, 'Pick from your seeds collection', { 'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                                    <div class="col-sm-6">
                                        {{ form_widget(form.seed, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    {{ form_label(form.seedlingDate, 'Choose seedling date', { 'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                                    <div class="col-sm-6 col-xs-12">
                                        {{ form_widget(form.seedlingDate, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    {{ form_label(form.seedlingAmount, 'Amount of seedlings', { 'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                                    <div class="col-sm-3 col-xs-12">
                                        {{ form_widget(form.seedlingAmount, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 text-center">
                                        {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary btn-lg'}}) }}
                                        <button class="btn btn-default btn-lg">Cancel</button>
                                    </div>
                                </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}