{% extends 'base.html.twig' %}

{% block body %}
{% trans_default_domain "dashboard" %}
<div class="be-wrapper">
    {% include 'navbar.html.twig' %} 
    {% include 'sidebar.html.twig' %}

    <div class="be-content">
        <div class="page-head">
            <h2 class="page-head-title">{% trans %}Edit Plant{% endtrans %}: {{ plant.seed.name }}</h2>
        </div>

        <div class="main-content container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            {% for message in app.flashes('notice') %}
                                <div class="flash-notice">
                                    {{ message }}
                                </div>
                            {% endfor %}
                            {{ form_start(form) }}
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            {{ form_label(form.area, 'Select area to plant', { 'label_attr': {'class': 'control-label'}}) }}
                                            {{ form_widget(form.area, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                        <div class="col-sm-6">
                                            {{ form_label(form.areaCapacity, 'How many plant would you want?', { 'label_attr': {'class': 'control-label'}}) }}
                                            {{ form_widget(form.areaCapacity, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            {{ form_label(form.seed, 'Pick from your seeds collection', { 'label_attr': {'class': 'control-label'}}) }}
                                            {{ form_widget(form.seed, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                        <div class="col-sm-6">
                                            {{ form_label(form.seedlingAmount, 'How many seeds would you use?', { 'label_attr': {'class': 'control-label'}}) }}
                                            {{ form_widget(form.seedlingAmount, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="datetime-group">
                                    {{ form_label(form.seedlingDate, 'Choose seedling date', { 'label_attr': {'class': 'control-label'}}) }}
                                    {{ form_widget(form.seedlingDate) }}
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 text-center">
                                        {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary btn-lg'}}) }}
                                        <button class="btn btn-default btn-lg">{% trans %}Cancel{% endtrans %}</button>
                                    </div>
                                </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}