{% extends 'base.html.twig' %}

{% block body %}
{% trans_default_domain "dashboard" %}
<div class="be-wrapper">
    {% include 'navbar.html.twig' %} 
    {% include 'sidebar.html.twig' %}

    <div class="be-content">
        <div class="page-head">
            <a href="{{ path('plants_create') }}" class="btn btn-space btn-primary btn-lg pull-right"><span class="icon mdi mdi-flower-alt"></span> {% trans %}Add plant{% endtrans %}</a>
            <h2 class="page-head-title">{% trans %}Plant Varieties{% endtrans %}</h2>
        </div>
        
        <div class="main-content container-fluid">
            <div class="row">
            {% for plant in plants %}
                <div class="col-xs-12 col-md-3">
                    <div class="user-display">
                        {% if vich_uploader_asset(plant['seed'], 'imageFile', 'AppBundle\\Entity\\Seed') %}
                        <div class="user-display-bg" style="background-image: url('{{ vich_uploader_asset(plant['seed'], 'imageFile', 'AppBundle\\Entity\\Seed') }}');"></div>
                        {% endif %}
                        <div class="user-display-bottom">
                            <div class="user-display-info">
                                <div class="name"><a href="{{ path('plants_show', {'id': plant['seed'].id }) }}">{{ plant['seed'].name }}</a></div>
                                <div class="nick">{{ plant['seed_category'] }}</div>
                            </div>
                            <div class="row user-display-details">
                                <div class="col-xs-5">
                                    <div class="title">{% trans %}Amount{% endtrans %}</div>
                                    <div class="counter">{{ plant['seedling_total'] }}</div>
                                </div>
                                <div class="col-xs-7">
                                    <div class="title">{% trans %}Total Seedling Area{% endtrans %}</div>
                                    <div class="counter">{{ plant['area_count'] }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>    
        </div>
    </div>
</div>
{% endblock %}