{% extends 'base.html.twig' %}

{% block body %}
{% trans_default_domain "dashboard" %}
<div class="be-wrapper">
    {% include 'navbar.html.twig' %} 
    {% include 'sidebar.html.twig' %}

    <div class="be-content">
        <div class="page-head">
            <div class="pull-right">
                <a href="{{ path('plants_create') }}" class="btn btn-space btn-success btn-lg"><i class="icon mdi mdi-plus"></i> {% trans %}Add Plant{% endtrans %}</a>
            </div>
            <h2 class="page-head-title">{{ plants[0].seed.name }}</h2>
        </div>

        <div class="main-content container-fluid">
            <div class="user-profile">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-default panel-table">
                            <div class="panel-heading">
                                {% trans %}Total area{% endtrans %}: {{ totalArea }}
                            </div>
                            <div class="panel-body">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th class="col-xs-3">{% trans %}Age (days){% endtrans %}</th>
                                            <th class="col-xs-3">{% trans %}Area{% endtrans %}</th>
                                            <th class="col-xs-2">{% trans %}Amount{% endtrans %}</th>
                                            <th class="col-xs-2">{% trans %}Status{% endtrans %}</th>
                                            <th class="col-xs-2">{% trans %}Action{% endtrans %}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for plant in plants %}
                                        <tr>
                                            <td>{{ plant.seedlingDate }}</td>
                                            <td>{{ plant.area.name }}</td>
                                            <td>{{ plant.areaCapacity }}</td>
                                            <td>
                                                {% if plant.action == 'harvest' %}
                                                {% trans %}Harvested{% endtrans %}
                                                {% elseif plant.action == 'dispose' %}
                                                {% trans %}Disposed{% endtrans %}
                                                {% endif %}
                                            </td>
                                            <td>
                                                <a href="{{ path('plants_harvest', {'id': plant.id }) }}">{% trans %}Harvest{% endtrans %}/{% trans %}Dispose{% endtrans %}</a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'right-sidebar.html.twig' %}
</div>
{% endblock %}