{% extends 'base.html.twig' %}

{% block body %}
<div class="be-wrapper">
    {% include 'navbar.html.twig' %} 
    {% include 'sidebar.html.twig' %}

    <div class="be-content">
        <div class="page-head">
            <div class="pull-right">
                <a href="{{ path('plants_create') }}" class="btn btn-space btn-success btn-lg"><i class="icon mdi mdi-plus"></i> Add Plant</a>
            </div>
            <h2 class="page-head-title">{{ plants[0].seed.name }}</h2>
        </div>

        <div class="main-content container-fluid">
            <div class="user-profile">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-default panel-table">
                            <div class="panel-heading">
                                Total area: {{ totalArea }}
                            </div>
                            <div class="panel-body">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th class="col-xs-3">Age (days)</th>
                                            <th class="col-xs-3">Area</th>
                                            <th class="col-xs-2">Amount</th>
                                            <th class="col-xs-2">Status</th>
                                            <th class="col-xs-2">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for plant in plants %}
                                        <tr>
                                            <td>{{ plant.seedlingDate }}</td>
                                            <td>{{ plant.area.name }}</td>
                                            <td>{{ plant.areaCapacity }}</td>
                                            <td>
                                                {% if plant.action == 'harvest' %}
                                                Harvested
                                                {% elseif plant.action == 'dispose' %}
                                                Disposed
                                                {% endif %}
                                            </td>
                                            <td>
                                                <a href="{{ path('plants_harvest', {'id': plant.id }) }}">Harvest/Dispose</a> | <a href="{{ path('plants_edit', {'id': plant.id }) }}">Edit</a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}