{% extends 'base.html.twig' %}

{% block body %}
{% trans_default_domain "dashboard" %}
<div class="be-wrapper">
    {% include 'navbar.html.twig' %} 
    {% include 'sidebar.html.twig' %}

    <div class="be-content">
        <div class="page-head">
            <a href="{{ path('areas_create') }}" class="btn btn-space btn-primary btn-lg pull-right"><span class="icon mdi mdi-layers"></span> {% trans %}Add Area{% endtrans %}</a>
            <h2 class="page-head-title">{% trans %}All Areas{% endtrans %}</h2>
        </div>
        <div class="main-content container-fluid">
            <div class="row">
            {% set index = 0 %}
            {% for area in areas %}
                <div class="col-xs-12 col-md-3">
                    <div class="user-display">
                        {% if vich_uploader_asset(area, 'imageFile') %}
                        <div class="user-display-bg" style="background-image: url('{{ vich_uploader_asset(area, 'imageFile') }}');"></div>
                        {% endif %}
                        <div class="user-display-bottom">
                            <div class="user-display-info">
                                <div class="name"><a href="{{ path('areas_show', {'id': area.id}) }}">{{area.name}}</a></div>
                                {% if area.reservoir is not null %}
                                    <div class="nick">{{ area.reservoir.field.name }}</div>
                                {% endif %}
                            </div>
                            <div class="row user-display-details">
                                <div class="col-xs-6">
                                    <div class="title">{% trans %}System{% endtrans %}</div>
                                    <div class="counter">
                                        {{ growingMethods[index] }}
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="title">{% trans %}Capacity{% endtrans %}</div>
                                    <div class="counter">
                                        {{ area.capacity }}&nbsp;{{ measurementUnits[index] }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% set index = index + 1 %}
            {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}