{% extends 'base.html.twig' %}

{% block body %}
<div class="be-wrapper">
    {% include 'navbar.html.twig' %} 
    {% include 'sidebar.html.twig' %}

    <div class="be-content">
        <div class="page-head">
            <a href="{{ path('areas_create') }}" class="btn btn-space btn-primary btn-lg pull-right"><span class="icon mdi mdi-layers"></span> Add Area</a>
            <h2 class="page-head-title">All Areas</h2>
        </div>
        <div class="main-content container-fluid">
            <div class="row">
            {% set index = 0 %}
            {% for area in areas %}
                <div class="col-xs-12 col-md-3">
                    <div class="user-display">
                        {% if vich_uploader_asset(area, 'imageFile') %}
                        <div class="user-display-bg">
                            <img src="{{ vich_uploader_asset(area, 'imageFile') }}" alt="{{ area.name }}">
                        </div>
                        {% endif %}
                        <div class="user-display-bottom">
                            <div class="user-display-info">
                                <div class="name"><a href="{{ path('areas_show', {'id': area.id}) }}">{{area.name}}</a></div>
                                <div class="nick">{{ area.reservoir.name }} in {{ area.reservoir.field.name }}</div>
                            </div>
                            <div class="row user-display-details">
                                <div class="col-xs-6">
                                    <div class="title">System</div>
                                    <div class="counter">
                                        {{ growingMethods[index] }}
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="title">Capacity</div>
                                    <div class="counter">
                                        {% if area.measurementUnit == 1 %}
                                            {{ area.capacity }} Pots/Points
                                        {% elseif area.measurementUnit == 2 %}
                                            {{ area.capacity }} Trays
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% set index = index + 1 %}
            {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}