{% extends 'base.html.twig' %}

{% block body %}
<div class="be-wrapper">
  {% include 'navbar.html.twig' %}
  {% include 'sidebar.html.twig' %}

    <div class="be-content">
        <div class="page-head">
            <a href="{{ path('tasks_create') }}" class="btn btn-space btn-primary btn-lg pull-right"><span class="icon mdi mdi-plus"></span> Add New</a>
            <h2 class="page-head-title">Farm Tasks</h2>
        </div>
        <div class="main-content container-fluid">
            <!-- Area Task -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default panel-table">
                        <div class="panel-heading">All Tasks</div>
                        <div class="panel-body">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th style="width:15%;">Category</th>
                                        <th style="width:15%;">Task</th>
                                        <th style="width:35%;">Notes</th>
                                        <th style="width:15%;">Due Date</th>
                                        <th style="width:15%;">Level of Importance</th>
                                        <th>Is it done?</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for task in tasks %}
                                    <tr>
                                        <td class="cell-detail">{{ task.category }}</td>
                                        <td class="cell-detail"><a href="{{ path('tasks_show', {'id': task.id }) }}">{{ task.name }}</a></td>
                                        <td class="cell-detail">{{ task.notes }}</td>
                                        <td class="cell-detail">{{ task.dueDate|date('d F Y h:i')}}</td>
                                        <td class="cell-detail">
                                            <span class="label {% if task.urgencyLevel == 'low' %} label-success {% elseif task.urgencyLevel == 'medium' %} label-warning {% elseif task.urgencyLevel == 'high' %} label-danger {% endif %}">{{ task.urgencyLevel }}</span>
                                        </td>
                                        <td class="cell-detail">{% if task.isDone == 0 %} No {% elseif task.isDone == 1 %} Yes {% endif %}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
