<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{{ asset('assets/img/logo-fav.png') }}">

    <title>{% block title %}TANIA - The partner of your farm{% endblock %}</title>
    
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/perfect-scrollbar/perfect-scrollbar.min.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/material-design-icons/css/material-design-iconic-font.min.css') }}"/>
    
    {% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ asset('assets/css/tania.css') }}" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/select2.min.css') }}"/>
    {% endblock %}

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="tania-splash">
    {% block fos_user_content %}{% endblock fos_user_content %}

    {% block javascripts %}{% endblock %}
</body>
</html>