{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('vendor/datetimepicker/jquery.datetimepicker.css') }}">
{% endblock %}

{% block body %}
{% trans_default_domain "dashboard" %}
<div class="be-wrapper">
    {% include 'navbar.html.twig' %}
    {% include 'sidebar.html.twig' %}

    <div class="be-content">
        <div class="page-head">
            <h2 class="page-head-title">{% trans %}Create New Task{% endtrans %}</h2>
        </div>
        <div class="main-content container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            {{ form_start(form, {'attr': {'class': 'form-horizontal group-border-dashed'}}) }}
                                {{ form_errors(form) }}
                                <div class="form-group">
                                    {{ form_label(form.name, 'Name', { 'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                                    <div class="col-sm-6">
                                        {{ form_errors(form.name) }}
                                        {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    {{ form_label(form.notes, 'Notes', { 'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                                    <div class="col-sm-6">
                                        {{ form_errors(form.notes) }}
                                        {{ form_widget(form.notes, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    {{ form_label(form.category, 'Category', { 'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                                    <div class="col-sm-6">
                                        {{ form_errors(form.category) }}
                                        {{ form_widget(form.category, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    {{ form_label(form.dueDate, 'Due Date', { 'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                                    <div class="col-sm-6">
                                        {{ form_errors(form.dueDate) }}
                                        {{ form_widget(form.dueDate, {'attr': {'class': 'form-control date-time-picker'}}) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    {{ form_label(form.urgencyLevel, 'Level of urgency', { 'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                                    <div class="col-sm-6">
                                        {{ form_errors(form.urgencyLevel) }}
                                        {{ form_widget(form.urgencyLevel, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    {{ form_label(form.isDone, 'Is it done?', { 'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                                    <div class="col-sm-6">
                                        {{ form_errors(form.isDone) }}
                                        {{ form_widget(form.isDone, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 text-center">
                                        {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary btn-lg'}}) }}
                                        <button class="btn btn-default btn-lg">{% trans %}Cancel{% endtrans %}</button>
                                    </div>
                                </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'right-sidebar.html.twig' %}
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.4/build/jquery.datetimepicker.full.min.js"></script>
    <script src="{{ asset('assets/js/task.js') }}"></script>
{% endblock %}
