{% extends 'base.html.twig' %}

{% block body %}
<div class="be-wrapper">
    {% include 'navbar.html.twig' %} 
    {% include 'sidebar.html.twig' %}

<div class="be-content">
    <div class="page-head">
        <h2 class="page-head-title">Overview</h2>
    </div>
    <div class="main-content container-fluid">

        <!-- Plantation Area -->
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="panel panel-default panel-table">
                    <div class="panel-heading">Farms
                        <div class="tools">
                            <a href="{{ path('fields') }}" class="btn btn-default btn-xs">See more details</a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div id="map" style="height: 400px" data-locations="{{ farmLocations }}"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-6">
                <div class="panel panel-default panel-table">
                    <div class="panel-heading"> 
                        <div class="tools">
                            <a href="{{ path('plants') }}" class="btn btn-default btn-xs">See more details</a>
                        </div>
                        <div class="title">Current Seedling</div>
                    </div>
                    <div class="panel-body table-responsive">
                        <table class="table table-striped table-borderless">
                            <thead>
                                <tr>
                                <th style="width:40%;">Seed Name</th>
                                <th style="width:40%;">Area</th>
                                <th style="width:20%;">Age (days)</th>
                                </tr>
                            </thead>
                            <tbody class="no-border-x">
                                <tr>
                                {% for plant in plants %}
                                    <td>{{ plant['seed_name'] }}</td>
                                    <td>{{ plant['area_name'] }}</td>
                                    <td>{{ plant['seedling_date'] }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="panel panel-default panel-table">
                    <div class="panel-heading"> 
                        <div class="tools"><a href="{{ path('tasks') }}" class="btn btn-default btn-xs">See all</a></div>
                        <div class="title">Tasks List</div>
                    </div>
                    <div class="panel-body table-responsive">
                        <table class="table table-striped table-borderless">
                            <thead>
                                <tr>
                                    <th style="width:50%;">Tasks Name</th>
                                    <th style="width:30%;">Due Date</th>
                                    <th style="width:20%;">Status</th>
                                </tr>
                            </thead>
                            <tbody class="no-border-x">
                                {% for task in tasks %}
                                <tr>
                                    <td>{{ task.name }}</td>
                                    <td>{{ task.dueDate }}</td>
                                    <td class="text-danger">
                                        <span class="label {% if task.urgencyLevel == 'low' %} label-success {% elseif task.urgencyLevel == 'medium' %} label-warning {% elseif task.urgencyLevel == 'high' %} label-danger {% endif %}">{{ task.urgencyLevel }}</span>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}