{% extends 'base.html.twig' %}

{% block body %}
{% trans_default_domain "dashboard" %}
<div class="be-wrapper">
    {% include 'navbar.html.twig' %}
    {% include 'sidebar.html.twig' %}

    <div class="be-content">
        <div class="page-head">
            <h2 class="page-head-title">{% trans %}Add New Device{% endtrans %}</h2>
        </div>
        <div class="main-content container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            {{ form_start(form, {'attr': {'class': 'form-horizontal group-border-dashed', 'style': 'border-radius: 0px;'}}) }}
                                {{ form_errors(form) }}
                                <div class="form-group">
                                    {{ form_label(form.name, 'Name', {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                                    <div class="col-sm-5">
                                    {{ form_errors(form.name) }}
                                    {{ form_widget(form.name, {'attr': {'class': 'form-control', 'placeholder': 'e.g. VEG EC01, etc'}}) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    {{ form_label(form.description, 'Description', {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                                    <div class="col-sm-5">
                                    {{ form_errors(form.description) }}
                                    {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    {{ form_label(form.deviceType, 'Device Type', {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                                    <div class="col-sm-5">
                                        {{ form_errors(form.deviceType) }}
                                        {{ form_widget(form.deviceType, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 text-center">
                                        {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary btn-lg'}}) }}
                                        <a href="{{ path('devices') }}" class="btn btn-default btn-lg">{% trans %}Cancel{% endtrans %}</a>
                                    </div>
                                </div>
                            {{form_end(form)}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'right-sidebar.html.twig' %}
</div>
{% endblock %}